.App {
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin: 5% auto;
  text-align: center;
}

.actorButtonGroup {
  /* max-width: 90vw; */
  display: block;
  text-align: center;
}

.actorButtons-header { 
  text-align: center;
  margin: auto;
}

.actorButtons {
  /* max-width: 100%; */
  margin: 3%;
  /* display: block; */
  padding: 4%;
  background-color: #333;
  border-color: #222;
  color: #999;
}

.actors, .characters {
  margin: 2% auto;
  background: #484c54,
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styling */

.strikethru {
  text-decoration-style: wavy;
}